<div class="dz-card" (click)="navigateToDetail()">

      <div class="rank-badge">
      #{{ rank }}
    </div>

  <div class="cover-wrapper" [class.is-artist]="type === 'artist'">

    <ng-container *ngIf="item?.coverUrl; else fallback">
      <img [src]="item.coverUrl" [alt]="itemName" />
    </ng-container>

    <ng-template #fallback>
      <div class="cover-fallback">
        <mat-icon>{{ icon }}</mat-icon>
      </div>
    </ng-template>



    <button class="play-btn" (click)="$event.stopPropagation()">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <div class="cover-overlay"></div>

  </div>

  <div class="content">
    <div class="item-name" [title]="itemName">
      {{ itemName }}
    </div>

    <div *ngIf="subName" class="item-sub" [title]="subName">
      {{ subName }}
    </div>

    <div class="item-count">
      {{ item?.count }} écoutes
    </div>
  </div>
</div>